<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bharani Silks</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">

    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body>
    <!-- Preloader -->
    <section>
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="B" class="letters-loading">B</span>
                        <span data-text-preloader="H" class="letters-loading">H</span>
                        <span data-text-preloader="A" class="letters-loading">A</span>
                        <span data-text-preloader="R" class="letters-loading">R</span>
                        <span data-text-preloader="A" class="letters-loading">A</span>
                        <span data-text-preloader="N" class="letters-loading">N</span>
                        <span data-text-preloader="I" class="letters-loading">I</span>
                    </div>
                </div>
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </section>

    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper">
        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <header class="header style-1">
            <div class="container">
                <!-- Start Mainmanu Nav -->
                <nav class="navbar navbar-expand-md">
                    <a class="navbar-brand" href="index.html"><img alt="" src="assets/media/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav me-auto ms-auto mainmenu">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="men.html">Men</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="women.html">Women</a>
                                <ul class="slipfit-submenu">
                                    <li><a href="Long Anarkali.html">LONG ANARKALI</a></li>
                                    <li><a href="CROP TOP.html">CROP TOP & SKIRTS/LEHANGAS</a></li>
                                    <li><a href="CASUALS.html">CASUALS AND KURTIS</a></li>
                                    <li><a href="HALF SAREES.html">HALF SAREES</a></li>
                                    <li><a href="DRAPE DRESS.html">DRAPE DRESS</a></li>
                                    <li><a href="KIDS COLLECTION.html">KIDS COLLECTION</a></li>
                                    <li><a href="PARTY WEAR.html">PARTY WEAR</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="women.html">Kids</a>
                            </li>
                            <li class="menu-item-has-children">
                                <ul class="slipfit-submenu multiline">
                                    <li><a href="index.html" class="active">Home</a></li>
                                    <li><a href="men.html">Shop 1</a></li>
                                    <li><a href="women.html">Shop 2</a></li>
                                    <li><a href="product-detail.html">Product Detail</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="order-tracking.html">Order Tracking</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="reset-password.html">Reset Password</a></li>
                                    <li><a href="blogs.html">Blogs</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="shipping-policy.html">Shipping Policy</a></li>
                                    <li><a href="user-orders.html">User Orders</a></li>
                                    <li><a href="user-profile.html">User profile</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>

                            </li>
                        </ul>
                        <div class="d-flex right-nav">
                            <ul class="navbar-nav mainmenu">
                                <li><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#searchModal" class="me-3"><i class="fal fa-search"></i></a></li>
                                <li class="menu-item-has-children">
                                    <a href="cart.html"><span class="items-count">2</span> <i
                                            class="fal fa-shopping-cart"></i></a>
                                    <ul class="slipfit-submenu cart-items">
                                        <li>
                                            <img alt="" src="./assets/media/products/p-1.jpg">
                                            <div class="item-detail">
                                                <h6><a href="./product-detail.html">Basic White Top with Fitted..</a>
                                                </h6>
                                                <span><strong>Color:</strong> White</span>
                                                <p>$35</p>
                                                <input type="number" name="qty" value="1"> &nbsp; <button type="button" class="btn rm-btn btn-secondary btn-xs"><i
                                                        class="fal fa-trash"></i></button>
                                            </div>
                                        </li>
                                        <li>
                                            <img alt="" src="./assets/media/products/p-2.jpg">
                                            <div class="item-detail">
                                                <h6><a href="./product-detail.html">Halter Dress with a Velvet..</a>
                                                </h6>
                                                <span><strong>Color:</strong> Brown</span>
                                                <p>$30</p>
                                                <input type="number" name="qty" value="1"> &nbsp; <button type="button" class="btn rm-btn btn-secondary btn-xs"><i
                                                        class="fal fa-trash"></i></button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- End Mainmanu Nav -->
            </div>
        </header>
        <!--=====================================-->
        <!--=         Banner Area Start         =-->
        <!--=====================================-->
        <section class="banner style-1">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-sm-7 col-12">
                        <div class="banner-content" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="100">
                            <h1 class="title text-capitalize">COVERS ALL YOUR <br>CLOTHING NEEDS</h1>
                            <p>From best quality to best rates <br>we cover it all</p>

                            <p class="collection-text">Latest Collection<br><strong>Explore Now</strong></p>

                        </div>

                    </div>
                    <div class="col-lg-7 col-sm-5 col-12">
                        <img alt="" src="assets/media/banner/slider-model.png">
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=       Key Points Area Start       =-->
        <!--=====================================-->
        <section class="key-points container">
            <ul>
                <li><i class="far fa-truck-loading"></i> Free Shipping</li>
                <li><i class="far fa-sack-dollar"></i> Money Guarantee</li>
                <li><i class="far fa-user-headset"></i> Online Support</li>
                <li><i class="far fa-credit-card"></i> Flexible Payment</li>
            </ul>
        </section>
        <!--=====================================-->
        <!--=        Collection Area Start         =-->
        <!--=====================================-->
        <section class="collection style-1">
            <div class="container">
                <div class="wraper">
                    <a href="men.html" class="box">
                        <img src="assets/media/collection/c1.jpg" title="Collection">
                    </a>
                    <a href="men.html" class="box">
                        <img src="assets/media/collection/c2.jpg" title="Collection">
                    </a>
                    <a href="men.html" class="box">
                        <img src="assets/media/collection/c3.jpg" title="Collection">
                    </a>
                    <a href="men.html" class="box">
                        <img src="assets/media/collection/c7.png" title="Collection">
                    </a>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=       Best Seller Area Start      =-->
        <!--=====================================-->
        <section class="best-seller">
            <div class="container">
                <div class="heading style-1">
                    <h2>Best Seller Products</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="product-slider">
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-1.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-1.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;5</p>
                            <h3 class="title"><a href="product-detail.html">Basic White Top with Fitted Checkered
                                    Pants</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span class="discount-price">$20.99</span> &nbsp; <span>$15.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <a href="./assets/media/products/p-2.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-2.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;4</p>
                            <h3 class="title"><a href="product-detail.html">Halter Dress with a Velvet Coat</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$19.99</span> <i class="fal fa-horizontal-rule"></i> <span>$24.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <a href="./assets/media/products/p-3.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-3.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;3</p>
                            <h3 class="title"><a href="product-detail.html">Long Coat with White Top and Cortrise
                                    Pants</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$15.99</span> <i class="fal fa-horizontal-rule"></i> <span>$19.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-5.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-5.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;5</p>
                            <h3 class="title"><a href="product-detail.html">Dotted Long Dress with Slit Open Bottom</a>
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span class="discount-price">$20.99</span> &nbsp; <span>$15.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <a href="./assets/media/products/p-6.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-6.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;5</p>
                            <h3 class="title"><a href="product-detail.html">Stripe Oversized T Shirt</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$19.99</span> <i class="fal fa-horizontal-rule"></i> <span>$21.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--=====================================-->
        <!--=   Collection Comming Soon Start   =-->
        <!--=====================================-->
        <section class="collection-comming-soon style-1">
            <div class="container">
                <div class="content">
                    <p class="tag">DEAL OF THE MONTH</p>
                    <h3>WINTER COLLECTION</h3>
                    <p class="tag-line">Lorem Ipsum is simply dummy text of the <br> printing and typesetting industry. </p>
                    <p class="timer-heading">This Deal will end in</p>
                    <ul class="timer countdown">
                        <li>29<small>d</small></li>
                        <li>23<small>h</small></li>
                        <li>50<small>m</small></li>
                        <li>34<small>s</small></li>
                    </ul>
                    <a href="men.html" class="shop-now-btn">Shop Now <i class="fal fa-long-arrow-alt-right"></i></a> &nbsp; <span class="hurry-up-text">HARRY UP!</span>
                </div>
            </div>
        </section>

        <!--=====================================-->
        <!--=        On sale Area Start         =-->
        <!--=====================================-->
        <section class="on-sale">
            <div class="container">
                <div class="heading style-2">
                    <div class="row">
                        <div class="col-lg-4 col-sm-12 col-12">
                            <h2>On Sale Products</h2>
                        </div>
                        <div class="col-lg-8 col-sm-12 col-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry &nbsp; <a href="men.html"><i class="fal fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="product-slider">
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-5.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-5.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;5</p>
                            <h3 class="title"><a href="product-detail.html">Dotted Long Dress with Slit Open Bottom</a>
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span class="discount-price">$20.99</span> &nbsp; <span>$15.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-6.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-6.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;5</p>
                            <h3 class="title"><a href="product-detail.html">Stripe Oversized T Shirt</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$19.99</span> <i class="fal fa-horizontal-rule"></i> <span>$21.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-7.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-7.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;3</p>
                            <h3 class="title"><a href="product-detail.html">Black Tank Top with Striped Plazo Pants</a>
                            </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span class="discount-price">$20.99</span> &nbsp; <span>$15.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-2.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-2.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;4</p>
                            <h3 class="title"><a href="product-detail.html">Halter Dress with a Velvet Coat</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$19.99</span> <i class="fal fa-horizontal-rule"></i> <span>$24.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-grid product">
                        <div class="discount-percent">-30%</div>
                        <a href="./assets/media/products/p-3.jpg" class="preview img-hover-zoom">
                            <img alt="" src="./assets/media/products/p-3.jpg">
                        </a>
                        <div class="content">
                            <p class="review"><i class="fa fa-star"></i> &nbsp;3</p>
                            <h3 class="title"><a href="product-detail.html">Long Coat with White Top and Cortrise
                                    Pants</a> </h3>
                            <div class="row">
                                <div class="col-lg-6 col-sm-12 col-12">
                                    <span>$15.99</span> <i class="fal fa-horizontal-rule"></i> <span>$19.99</span>
                                </div>
                                <div class="col-lg-6 col-sm-12 col-12 action-btns">
                                    <a href="cart.html" class="slipfit-btn-style2"><span class="text">Add to
                                            Cart</span><span class="icon"><i
                                                class="fal fa-shopping-cart"></i></span></a> &nbsp;
                                    <a href="wishlist.html" class="whishlist-btn"><i class="fal fa-box-heart"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--=====================================-->
        <!--=        Testimonial Area Start     =-->
        <!--=====================================-->
        <section class="testimonial style-1 ">
            <div class="container">
                <div class="heading style-1">
                    <h2>Testimonials</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="testimonial-slider">
                    <div class=" testimonial-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <img alt="" width="100" height="100" src="assets/media/testimonial/user-1.png" class="attachment-full size-full">
                            </div>
                            <p>Sapien non nonummy maecenas vele scelerisque arcu porta fusce ridiculus curae senectus nonummy iner praesent viverra facilisis integer nisle parturient hymenaeos senectus, pede tempor ultrices elit dictumst dolor convallis
                                habitasse ace.</p>
                            <div class="author-box">
                                <h3>Jeniefer</h3>
                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                                <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class=" testimonial-block-one">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img alt="" width="100" height="100" src="assets/media/testimonial/user-2.png" class="attachment-full size-full">
                            </figure>
                            <p>Sapien non nonummy maecenas vele scelerisque arcu porta fusce ridiculus curae senectus nonummy iner praesent viverra facilisis integer nisle parturient hymenaeos senectus, pede tempor ultrices elit dictumst dolor convallis
                                habitasse ace.</p>
                            <div class="author-box">
                                <h3>shyzal</h3>
                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fal fa-star"></i>
                                </div>
                                <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="  testimonial-block-one">
                        <div class="inner-box">
                            <figure class="image-box">
                                <img alt="" width="100" height="100" src="assets/media/testimonial/user-3.png" class="attachment-full size-full">
                            </figure>
                            <p>Sapien non nonummy maecenas vele scelerisque arcu porta fusce ridiculus curae senectus nonummy iner praesent viverra facilisis integer nisle parturient hymenaeos senectus, pede tempor ultrices elit dictumst dolor convallis
                                habitasse ace.</p>
                            <div class="author-box">
                                <h3>Luther</h3>
                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fal fa-star"></i><i class="fal fa-star"></i>
                                </div>
                                <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class=" testimonial-block-one">
                        <div class="inner-box">
                            <div class="image-box">
                                <img alt="" width="100" height="100" src="assets/media/testimonial/user-4.png" class="attachment-full size-full">
                            </div>
                            <p>Sapien non nonummy maecenas vele scelerisque arcu porta fusce ridiculus curae senectus nonummy iner praesent viverra facilisis integer nisle parturient hymenaeos senectus, pede tempor ultrices elit dictumst dolor convallis
                                habitasse ace.</p>
                            <div class="author-box">
                                <h3>Sophie</h3>
                                <div class="reviews"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>
                                </div>
                                <div class="icon-box"><i class="fas fa-quote-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!--=====================================-->
        <!--=        Blogs Area Start         =-->
        <!--=====================================-->
        <!-- <section class="blogs style-1">
            <div class="container">
                <div class="heading style-1">
                    <h2>Latest News</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has<br> been the industry's standard dummy text ever since the 1500s</p>
                </div>
                <div class="row mt-3">
                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 blog-box">
                        <div class="content">
                            <a href="blog-detail.html"><img alt=""  src="assets/media/blogs/blog-1.jpg"></a>
                            <div class="text-details">
                                <p class="text-end author">STREET FASHION - 08 April 2023</p>
                                <h5><a href="blog-detail.html">Clothing That Defines Street Fashions</a></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi reiciendis suscipit e sit maiores eius saepe .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 blog-box">
                        <div class="content">
                            <a href="blog-detail.html"><img alt=""  src="assets/media/blogs/blog-2.jpg"></a>
                            <div class="text-details">
                                <p class="text-end author">STREET FASHION - 09 April 2023</p>
                                <h5><a href="blog-detail.html">New Wave of Fashion Trends</a></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi reiciendis suscipit e sit maiores eius saepe .</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 col-12 blog-box">
                        <div class="content">
                            <a href="blog-detail.html"><img alt=""  src="assets/media/blogs/blog-3.jpg"></a>
                            <div class="text-details">
                                <p class="text-end author">STREET FASHION - 10 April 2023</p>
                                <h5><a href="blog-detail.html">Transparent Fashion Making Ways</a></h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit commodi reiciendis suscipit e sit maiores eius saepe .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!--=====================================-->
        <!--=        Footer Area Start         =-->
        <!--=====================================-->
        <footer>
            <div class="footer-newsletter">
                <div class="container" >
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 ">
                            <div class="content">
                                <h2 class="title">Get in touch!</h2>
                                <p class="mb-5">Get emails for latest news, sale, info on new items and more. <br>Free $20 Voucher for your 1st order if you subscribe</p>
                                <form class="mb-2">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email address">
                                        <button class="subscribe-btn" type="submit">Subscribe</button>
                                    </div>
                                </form>
                                <p class="mb-0">By subscribing you agree to our terms and conditions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5" data-sal-delay="100">
                            <div class="footer-widget">
                                <img alt="" src="assets/media/logo.png">
                                <p class="mt-4 mb-4 pe-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum modi, possimus dolore saepe nobis itaque cupiditate veniam nostrum, provident quam, neque ab dicta velit debitis cum unde recusandae. Fuga, consectetur.</p>
                                <h6 class="mb-4"><a href="tel:+1212346845">+1212346845</a> &nbsp; <a href="mailto:info@slipfit.com">info@slipfit.com</a></h6>

                                <ul class="list-unstyled social-links">
                                    <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7" data-sal-delay="100">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Shop</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="men.html">Best Sellers</a></li>
                                                <li><a href="men.html">Discount</a></li>
                                                <li><a href="men.html">New Arrivals</a></li>
                                                <li><a href="men.html">On Sale</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Information</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="contact.html">Contact us</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="shipping-policy.html">Shipping Policy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Collection</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="men.html">Men</a></li>
                                                <li><a href="women.html">Women</a></li>
                                                <li><a href="KIDS COLLECTION.html">Kids</a></li>
                                                <!-- <li><a href="men.html">Formal</a></li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">Copyright 2024 © Bharani Silks. All Rights Reserved.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-link">
                                <ul class="list-unstyled">
                                    <li><img alt="" src="./assets/media/payment_methods/visa.png"></li>
                                    <li><img alt="" src="./assets/media/payment_methods/paypal.png"></li>
                                    <li><img alt="" src="./assets/media/payment_methods/mastercard.png"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!--=====================================-->
        <!--=        Search Modal Start         =-->
        <!--=====================================-->
        <div class="modal" id="searchModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form class="modal-body" method="get" action="men.html">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"><i
                                class="fa fa-times"></i></button>
                        <input type="text" class="form-control" name="query" placeholder="Search Here">
                    </form>
                </div>
            </div>
        </div>

        <!-- Promotion popup -->
        <div class="promotion">
            <a href="men.html"><img alt="" src="./assets/media/blogs/blog-2.jpg"></a>
        </div>
    </div>
    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>