<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slipfit | Fashion HTML 5 Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/font-awesome.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/vendor/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/vendor/sal.css">

    <!-- Site Stylesheet -->
    <link rel="stylesheet" href="assets/css/app.css">

</head>

<body>
    <!-- Preloader -->
    <section>
        <div id="preloader">
            <div id="ctn-preloader" class="ctn-preloader">
                <div class="animation-preloader">
                    <div class="spinner"></div>
                    <div class="txt-loading">
                        <span data-text-preloader="B" class="letters-loading">B</span>
                        <span data-text-preloader="H" class="letters-loading">H</span>
                        <span data-text-preloader="A" class="letters-loading">A</span>
                        <span data-text-preloader="R" class="letters-loading">R</span>
                        <span data-text-preloader="A" class="letters-loading">A</span>
                        <span data-text-preloader="N" class="letters-loading">N</span>
                        <span data-text-preloader="I" class="letters-loading">I</span>
                    </div>
                </div>	
                <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>
            </div>
        </div>
    </section>
    <!-- Back To Top Start -->
    <a href="#main-wrapper" id="backto-top" class="back-to-top">
        <i class="fas fa-angle-double-up"></i>
    </a>

    <!-- Main Wrapper Start -->
    <div id="main-wrapper" class="main-wrapper">
        <!--=====================================-->
        <!--=        Header Area Start       	=-->
        <!--=====================================-->
        <header class="header style-2">
            <div class="container">
                <nav class="navbar navbar-expand-md">>
                    <a class="navbar-brand" href="index.html"><img alt=""  src="assets/media/logo.png"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="mynavbar">
                        <ul class="navbar-nav me-auto ms-auto mainmenu">
                            <li class="menu-item-has-children">
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="men.html">Men</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="women.html">Women</a>
                                <ul class="slipfit-submenu">
                                    <li><a href="Long Anarkali1.html">LONG ANARKALI</a></li>
                                    <li><a href="CROP TOP1.html">CROP TOP</a></li>
                                    <li><a href="SKIRTS1.html">SKIRTS</a></li>
                                    <li><a href="Lehenga1.html">LEHANGAS</a></li>
                                    <li><a href="CASUALS1.html">CASUALS</a></li>
                                    <li><a href="KURTIS-1.html">KURTIS</a></li>
                                    <li><a href="HALF SAREES-1.html">HALF SAREES</a></li>
                                    <li><a href="DRAPE DRESS.html">DRAPE DRESS</a></li>
                                    <li><a href="PARTY WEAR-1.html">PARTY WEAR</a></li>
                                </ul>
                            </li>
                            <li><a href="KIDS COLLECTION-1.html">KIDS COLLECTION</a></li>

                            <!-- <li class="menu-item-has-children">
                                <ul class="slipfit-submenu multiline">
                                    <li><a href="index.html" class="active">Home</a></li>
                                    <li><a href="men.html">Shop 1</a></li>
                                    <li><a href="women.html">Shop 2</a></li>
                                    <li><a href="product-detail.html">Product Detail</a></li>
                                    <li><a href="cart.html">Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="order-tracking.html">Order Tracking</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="reset-password.html">Reset Password</a></li>
                                    <li><a href="blogs.html">Blogs</a></li>
                                    <li><a href="blog-detail.html">Blog Detail</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact</a></li>
                                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="shipping-policy.html">Shipping Policy</a></li>
                                    <li><a href="user-orders.html">User Orders</a></li>
                                    <li><a href="user-profile.html">User profile</a></li>
                                    <li><a href="404.html">404</a></li>
                                    <li><a href="coming-soon.html">Coming Soon</a></li>
                                </ul>

                            </li> -->
                        </ul>
                        <div class="d-flex right-nav">
                            <ul class="navbar-nav mainmenu">
                                <li><a href="javascript:;" data-bs-toggle="modal" data-bs-target="#searchModal"
                                        class="me-3"><i class="fal fa-search"></i></a></li>
                                <li class="menu-item-has-children">
                                    <a href="cart.html"><span class="items-count">2</span> <i
                                            class="fal fa-shopping-cart"></i></a>
                                    <ul class="slipfit-submenu cart-items">
                                        <li>
                                            <img src="./assets/media/products/p-1.jpg" alt="">
                                            <div class="item-detail">
                                                <h6><a href="./product-detail.html">Basic White Top with Fitted..</a>
                                                </h6>
                                                <span><strong>Color:</strong> White</span>
                                                <p>$35</p>
                                                <input type="number" name="qty" value="1"> &nbsp; <button type="button"
                                                    class="btn rm-btn btn-secondary btn-xs"><i
                                                        class="fal fa-trash"></i></button>
                                            </div>
                                        </li>
                                        <li>
                                            <img src="./assets/media/products/p-2.jpg" alt="">
                                            <div class="item-detail">
                                                <h6><a href="./product-detail.html">Halter Dress with a Velvet..</a>
                                                </h6>
                                                <span><strong>Color:</strong> Brown</span>
                                                <p>$30</p>
                                                <input type="number" name="qty" value="1"> &nbsp; <button type="button"
                                                    class="btn rm-btn btn-secondary btn-xs"><i
                                                        class="fal fa-trash"></i></button>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <!--=====================================-->
        <!--=          Sign up Start            =-->
        <!--=====================================-->
        <section class="register">
            <div class="row m-0">
                <div class="col-lg-8 p-0">
                    <img alt=""  src="./assets/media/banner/login.jpg" class="h-100">
                </div>
                <div class="col-lg-4 p-0">
                    <div class="auth-block">
                        <a href="index.html"><i class="fa fa-long-arrow-alt-left"></i> Back</a>
                        <form method="post" action="register.html">
                            <h1 class="text-center mb-2">Sign up</h1>
                            <p class="text-center mb-5">Enter your username or email and password to register.</p>
                            <div class="form-group">
                                <label>Username or Email</label>
                                <input type="text" name="username" class="form-control" placeholder="Enter Username"
                                    autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" name="password" class="form-control" placeholder="Password"
                                    autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" name="confirm_password" class="form-control" placeholder="Password"
                                    autocomplete="off">
                            </div>
                            <div class="text-center mb-4 mt-4">
                                <button type="submit" class="slipfit-btn-style2 lg"><span class="text">Sign up</span><span
                                        class="icon"><i class="fal fa-hand-pointer"></i></span></button>
                            </div>
                            <hr>
                            <button type="button" class="social-btn btn-block"><img alt=""  src="./assets/media/icons/google.png" class="me-2"> Continue
                                with Google</button>
                            <button type="button" class="social-btn btn-block"><img alt=""  src="./assets/media/icons/facebook.png" class="me-2">
                                Continue with Facebook</button>
                            <p class="text-center mt-5">Already have an account? <a href="login.html">Login</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!--=====================================-->
        <!--=         Footer Area Start         =-->
        <!--=====================================-->
        <footer>
            <div class="footer-newsletter">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 ">
                            <div class="content">
                                <h2 class="title">Get in touch!</h2>
                                <p class="mb-5">Get emails for latest news, sale, info on new items and more. <br>Free
                                    $20 Voucher for your 1st order if you subscribe</p>
                                <form class="mb-2">
                                    <div class="input-group">
                                        <input type="email" class="form-control" placeholder="Email address">
                                        <button class="subscribe-btn" type="submit">Subscribe</button>
                                    </div>
                                </form>
                                <p class="mb-0">By subscribing you agree to our terms and conditions</p>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 ">
                            <h2 class="title">Need Help?
                                <br>
                                +12 12346578
                            </h2>
                            <p class="mb-4">We are available 12:00pm - 12:00am</p>
                            <a href="" class="app-btn mr-2"><img alt=""  src="./assets/media/newsletter/app-store.png"></a>
                            &nbsp;
                            <a href="" class="app-btn"><img alt=""  src="./assets/media/newsletter/play-store.png"></a>
                            <p class="mb-0 mt-2">Try our apps by downloading them</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5" data-sal-delay="100">
                            <div class="footer-widget">
                                <img alt=""  src="assets/media/logo.png">
                                <p class="mt-4 mb-4 pe-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum
                                    modi,
                                    possimus dolore saepe nobis itaque cupiditate veniam nostrum, provident quam, neque
                                    ab dicta velit debitis cum unde recusandae. Fuga, consectetur.</p>
                                <h6 class="mb-4"><a href="tel:+1212346845">+1212346845</a> &nbsp; <a
                                        href="mailto:info@slipfit.com">info@slipfit.com</a></h6>

                                <ul class="list-unstyled social-links">
                                    <li><a href="javascript:;"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-dribbble"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="javascript:;"><i class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7" data-sal-delay="100">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Shop</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="shop-1.html">Best Sellers</a></li>
                                                <li><a href="shop-1.html">Discount</a></li>
                                                <li><a href="shop-1.html">New Arrivals</a></li>
                                                <li><a href="shop-1.html">On Sale</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Information</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="about.html">About us</a></li>
                                                <li><a href="contact.html">Contact us</a></li>
                                                <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                                <li><a href="shipping-policy.html">Shipping Policy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="footer-widget">
                                        <h6 class="widget-title">Collection</h6>
                                        <div class="footer-menu-link">
                                            <ul class="list-unstyled">
                                                <li><a href="shop-1.html">Men</a></li>
                                                <li><a href="shop-1.html">Women</a></li>
                                                <li><a href="shop-1.html">Kids</a></li>
                                                <li><a href="shop-1.html">Formal</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="footer-bottom">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="footer-copyright">
                                <span class="copyright-text">Copyright 2024 © Slipfit. All Rights Reserved.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-bottom-link">
                                <ul class="list-unstyled">
                                    <li><img alt=""  src="./assets/media/payment_methods/visa.png"></li>
                                    <li><img alt=""  src="./assets/media/payment_methods/paypal.png"></li>
                                    <li><img alt=""  src="./assets/media/payment_methods/mastercard.png"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!--=====================================-->
        <!--=        Search Modal Start         =-->
        <!--=====================================-->
        <div class="modal" id="searchModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal body -->
                    <form class="modal-body" method="get" action="shop-1.html">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"><i
                                class="fa fa-times"></i></button>
                        <input type="text" class="form-control" name="query" placeholder="Search Here">
                    </form>

                </div>
            </div>
        </div>
    </div>
    <!-- Jquery Js -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendor/bootstrap.min.js"></script>
    <script src="assets/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="assets/js/vendor/slick.min.js"></script>
    <script src="assets/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/vendor/jquery.countdown.min.js"></script>
    <script src="assets/js/vendor/jquery-appear.js"></script>
    <script src="assets/js/vendor/sal.js"></script>
    <script src="assets/js/vendor/js.cookie.js"></script>

    <!-- Site Scripts -->
    <script src="assets/js/app.js"></script>
</body>

</html>